<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="row" style="margin-top: 140px">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3 mx-auto">
    {{!-- <h1>Checkout</h1>
    <h2>Total:{{currencyVND total}}</h2>
    <div id="charge-error" class="alert alert-danger" {{#if noErrors}} hidden {{/if}}>
      {{errMsg}}
    </div> --}}
    <form style="padding-bottom:40px" action="/user/checkout-address" method="post" id='checkout-form'>
      <div class="row">
        <div class="col-xs-12">
          <h1>Chọn địa điểm giao hàng</h1>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <select class="form-select" name="province" id="city">
              <option value="" selected>Chọn tỉnh thành</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <select class="form-select" name="district" id="district">
              <option value="" selected>Chọn quận, huyện</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <select class="form-select" name="ward" id="ward">
              <option value="" selected>Chọn phường, xã</option>
            </select>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Địa chỉ cụ thể</label>
            <input size="70" value="" type="text" id='address' class='form-control' required
              name="address"> 
          </div>
        </div>
      </div>

      <button style="margin:20px" id="button_checkout" type="submit" class="float-right btn btn-success">Tiếp
        tục</button>
    </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script>
  var provinces = document.getElementById("city");
  var districts = document.getElementById("district");
  var wards = document.getElementById("ward");
  fetch('https://raw.githubusercontent.com/daohoangson/dvhcvn/master/data/dvhcvn.json').then(response => {
    return response.json();
  }).then(data => {
    renderCity(data.data);
  }).catch(err => {
    // Do something for an error here
  });

  function renderCity(data) {
    for (var x of data) {
      provinces.options[provinces.options.length] = new Option(x.name, x.name);
      // console.log(x.name)
    }

    // xứ lý khi thay đổi tỉnh thành thì sẽ hiển thị ra quận huyện thuộc tỉnh thành đó
    provinces.onchange = function () {
      district.length = 1;
      ward.length = 1;
      if (this.value != "") {
        const result = data.filter(n => n.name === this.value);
        for (const k of result[0].level2s) {
          district.options[district.options.length] = new Option(k.name, k.name);
        }
      }
    };

    // // xứ lý khi thay đổi quận huyện thì sẽ hiển thị ra phường xã thuộc quận huyện đó
    district.onchange = function () {
      ward.length = 1;
      const dataProvinces = data.filter((n) => n.name === provinces.value);
      console.log(dataProvinces)
      if (this.value != "") {
        const dataWards = dataProvinces[0].level2s.filter(n => n.name === this.value)[0].level3s;
        console.log(dataWards)
        for (const w of dataWards) {
          wards.options[wards.options.length] = new Option(w.name, w.name);
        }
      }
    };
  }
</script>