.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-2-4 {
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
}

.category {
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    border-radius: 2px;
    padding: 0 30px;
}


.category__heading {
    font-size: 18px;
    color: var(--text-color);
    padding: 20px 16px 14px;
    margin-top: 0;
    text-align: center;
    
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}

.app__content {
    padding-top: 30px;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 6px 0;
    list-style: none;
    margin-left: 12px;
}

.category-item {}

.category-item--active .category-item__link {
    color: #717fe0;
}

/* .category-item--active .category-item__link::after {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 40%;
    left: 4px;
    transition: translateY(calc(-50% + 4px))
} */

.category-item__link {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: #717fe0;
}
